html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    color: #3d3a35;
    margin: 0;
}

body.page_index {
    padding-top: 0 !important;
}

*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1.2;
}

strong {
    font-weight: 700;
}

a {
    background-color: transparent;
    color: #0A4B7D;
}

a:active, a:hover {
    outline: 0;
    color: #073457;
}

a:hover {
    -webkit-transition: color .3s, background-color .3s, box-shadow .3s;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

a:visited,
a:active {
    text-decoration: none !important;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
}

.clear_float {
    clear: both;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn,
.btn-alt {
    display: inline-block;
    position: relative;
    min-width: 200px;
    font-family: Lato, sans-serif;
    font-size: 0.75em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0.9375em 0.625em;
    padding: 0.75em;
    border: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn {
    color: #fff;
    background-color: #0A4B7D;
}

.btn-alt {
    color: #0A4B7D;
    background-color: #fff;
}

.btn:hover,
.btn-alt:hover {
    background-color: #073457;
    color: #fff;
}

input {
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
}

textarea {
    overflow: auto;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.seo {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 2.125em;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-family: Lato, sans-serif;
    font-size: 1.375em;
    line-height: 1.36;
    margin: 0;
}

body.page_index header {
    position: absolute;
    background-color: transparent;
}

.flex-center {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: #ffffff;
    text-align: center;
    -webkit-transition: margin .3s;
    transition: margin 0.3s;
    border-bottom: 1px solid #0A4B7D;
    box-shadow: 0 1px 2px #0A4B7D;
}

/* Menu */
nav {
    font-size: 0.9375em;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    background-color: #0A4B7D;
}

/* Small Device Menu */
nav #responsive-nav {
    display: none;
    height: 2.813em;
    width: 100%;
}

nav #responsive-nav .flex {
    display: flex;
    justify-content: space-around;
}

nav #responsive-nav a,
nav #responsive-nav address {
    position: relative;
    float: left;
    text-align: center;
}

nav #responsive-nav button {
    background-color: #0A4B7D;
    border: 1px solid #fff;
    border-radius: 3px;
}

nav #responsive-nav span {
    color: #fff;
    font-size: 1.875em;
    font-weight: 400;
    padding: 3px;
}

nav #responsive-nav address span {
    font-size: 1.5625em;
    padding-top: 6px;
}

nav ul {
    text-align: center;
    vertical-align: top;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li:hover a {
    color: #fff;
    background: #073457;
    text-decoration: none;
}

nav li:before {
    content: none;
}

nav li a {
    display: block;
    color: #ffffff;
    font-size: 1.125em;
    padding: 0.375em 0.9375em;
    transition: background .3s, color .3s;
    text-transform: uppercase;
}

#main-header {
    padding: 0.3125em 0;
    transition: min-height 0.3s;
}

#main-header > div {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}

#main-header .header-contact {
    text-align: center;
    width: 100%;
    flex-basis: 400px;
    line-height: 1;
}

#main-header .header-contact > a {
    font-size: 2.0625em;
    color: #0A4B7D;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

#main-header .header-contact .email {
    font-size: 1.125em;
    color: #0A4B7D;
}

#main-header .header-contact address {
    line-height: 1.2;
    margin-bottom: 0.9375em;
}

#main-header .header-contact address a {
    display: inline-block;
    vertical-align: middle;
    transition: color .3s;
    color: #3d3a35;
    font-family: Lato, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#main-header .header-contact > a:hover,
#main-header .header-contact address a:hover {
    color: #0A4B7D;
}

#main-header .header-contact > a.btn:hover {
    color: #fff;
}

#main-header .header-contact .btn {
    display: block;
    max-width: 250px;
    width: 100%;
    color: #fff;
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 5px;
    margin: 0 auto;
    line-height: 1;
    padding: 0.75em;
}

#main-header .header-contact .btn strong {
    display: block;
    font-weight: 900;
    font-size: 1.125em;
    padding-bottom: 0.5em;
}

/* Website logo */
#main-header > div > a {
    max-width: 440px;
    z-index: 100;
    transition: max-width .3s;
}

#main-header > div > a img.header-full {
    width: 100%;
    transition: width .3s;
}

footer {
    background-size: cover;
    background: #0A4B7D;
    color: #fff;
    text-align: center;
    align-items: center;
    margin-top: 0;
    padding-top: 3.125em;
}

footer #footer-header .col-md-4 {
    margin: 3.125em 0;
}

footer h2,
footer .well-title h3 {
    font-size: 1.5625em;
    font-weight: 700;
    margin-bottom: 0;
}
footer h3 {
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto 0.9375em;
}

/* Appointment Request */
footer #contact-form {
    margin-bottom: 1.875em;
}

footer .well-title {
    margin: 1.875em auto 1.25em;
}

footer .btn-alt {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    margin: 0.625em auto;
}

/* Footer Instagram */
footer .social-ig {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    letter-spacing: 1px;
}

footer .fa-instagram {
    font-size: 1.875em;
    color: #fff;
}

/* Office Hours */
footer .hours {
    color: #fff;
}

footer .hours label {
    display: inline-block;
    width: 6.875em;
    text-align: left;
    font-weight: 600;
}

.copyright {
    text-align: center;
    font-size: 0.9375em;
    font-weight: 300;
    position: relative;
    margin: 0 auto;
    padding-bottom: 0.625em;
}

#author {
    font-size: 0.75em;
    margin-top: -0.5em;
}

#author a {
    color: #fff;
}

#about-page,
#procedure-page,
#patient-page,
#referral-page,
#gallery-page,
#contact-page {
    margin: 3.125em auto;
}

main.main-page section,
#about-page,
#procedure-page,
#patient-page,
#referral-page,
#gallery-page,
#contact-page,
footer #appointment-form,
footer #footer-header {
    padding-left: 1.875em;
    padding-right: 1.875em;
}

main.main-page section.gray-color {
    padding-left: 0;
    padding-right: 0;
}

main.main-page section.gray-color .container {
    padding-left: 1.875em;
    padding-right: 1.875em;
}

#procedure-page h2,
 #patient-page h2,
 #referral-page h2,
 #gallery-page h2,
 #contact-page h2{
     color: #0A4B7D;
     font-size: 1.875em;
     font-weight: 600;
     margin-bottom: 1.875em;
     clear: right;
 }

#patient-page h3,
#gallery-page h3 {
    color: #476CA5;
    margin: 1.875em auto 0.9375em;
}

#patient-page h3:first-of-type {
    margin-top: 0;
}

/* Request an Appointment Button */



.request-appnt img {
    float: right;
    margin-bottom: -1.5625em;
}


/* Main Page */
main.main-page section {
    padding-top: 5em;
    padding-bottom: 5em;
}

main.main-page section.gray-color {
    width: 100%;
    background-color: #ededed;
}

main.main-page section:last-of-type {
    padding-bottom: 0;
}

main.main-page section.badge-logo {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    margin-left: auto;
    margin-right: auto;
}

main.main-page section h2 {
    font-size: 2.5em;
    color: #0A4B7D;
    padding-bottom: 0.625em;
}

main.main-page section p {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.875em;
    margin-bottom: 1.25em;
}

main.main-page button {
    background-color: #0A4B7D;
    border-radius: 1.875em;
    border: none;
    padding-bottom: 0.125em;
    margin-top: 0.9375em;
}

main.main-page button a {
    font-size: 1.125em;
    color: #fff;
    padding: 0.9375em 2.188em;
}

main.main-page button a:hover,
main.main-page button a:visited,
main.main-page button a:active {
    text-decoration: none;
}

main.main-page button:hover,
main.main-page button:visited,
main.main-page button:active {
    text-decoration: none;
    background-color: #073457;
}

main.main-page .hidden-sm img {
    padding-top: 2.5em;
}

main.main-page .badge-logo img {
    display: block;
    height: 5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-left: auto;
    margin-right: auto;
}

main.main-page .full-arch img {
    width: 80%;
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}

@media (max-width: 1299px) and (min-width: 1100px) {
    main.main-page section.promote-procedure > div {
        width: 18%;
    }
}

main.main-page section.promote-procedure > div {
    display: inline-block;
    margin: 0 0.5em 1.875em;
}

main.main-page section.promote-procedure img {
    width: 14.063em;
    height: 14.063em;
}

main.main-page section.promote-procedure h3 {
    color: #0A4B7D;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.875em;
    margin-top: 0.625em;
}


.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
}

/* About Page */
#about-page h2 {
    color: #0A4B7D;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3.125em;
}

#about-page .profile-photo img {
    margin-top: 1.875em;
    margin-bottom: 1.5625em;
    border-radius: 5%;
    box-shadow: 0 0 8px 2px #e5e5e5;
}

#about-page p {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.5625em;
    color: #303030;
    margin-bottom: 1.875em;
}

/* Procedure Page */
#procedure-page h3,
#procedure-page h3.accordion {
    width: 100%;
    font-size: 1.5em;
    background-color: #1074BC;
    color: #fff;
    border: 1px solid #0A4B7D;
    padding: 1.125em;
    text-align: left;
    outline: none;
}

#procedure-page h3.accordion {
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

#procedure-page .active,
#procedure-page .accordion:hover {
    background-color: #0A4B7D;
}

#procedure-page .accordion.more:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 0.625em;
}

#procedure-page .panel {
    display: none;
    padding: 1.125em;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1.25em;
}

#procedure-page .panel p {
    font-size: 1.125em;
}

#procedure-page .flex-center div {
    text-align: center;
    margin: 1.25em 0;
}

/* Download Forms */
#patient-page a,
#referral-page a {
    cursor: pointer;
}

#patient-page a:hover,
#patient-page a:visited,
#patient-page a:active,
#referral-page a:hover,
#referral-page a:visited,
#referral-page a:active {
    text-decoration: none;
}

#patient-page a:hover,
#referral-page a:hover {
    color: #476CA5;
    font-weight: 600;
}

/* Referral Page */
#referral-page section {
    font-size: 1.25em;
    margin-bottom: 1.875em;
    border-bottom: 1px solid lightgray;
}

.referral-form-container {
    max-width: 600px;
}

form#referral-form label {
    display: block;
    color: #01559f;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875em;
    padding: 0.5em 0 0.125em 0;

}

form#referral-form input,
form#referral-form textarea {
    display: block;
    width: 100%;
    background-color: #e6ecf4;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 3px 0 #D6D6D6;
    color: #01559f;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    padding: 0.625em 3%;
    outline: none;
}

form#referral-form .options_container {
    width: 100%;
    margin: 0.3125em 0 1.25em 0;
}

form#referral-form .options_container .option_field {
    float: left;
    padding: 0 1% 0 0;
}

form#referral-form .options_container .option_field input {
    float: left;
    margin: 1px 0.3125em 0 0;
    color: #565656;
    box-shadow: none;
}

form#referral-form .options_container .option_field label {
    float: left;
    display: block;
    padding: 0 0 0.125em 0;
    font-style: normal;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 0.875em;
}

form#referral-form select {
    padding: 0.3125em;
    border-color: #01559f;
}

form#referral-form input[type="file"] {
    background: none;
    box-shadow: none;
    display: none;
}

form#referral-form .custom-file-upload {
    display: inline-block;
    background: #e6ecf4;
    color: #01559f;
    border-radius: 0.125em;
    padding: 0.625em;
    margin-right: 0.5em;
    cursor: pointer;
}

form#referral-form #submit_button {
    display: block;
    float: left;
    background: #01559f;
    padding: 0.625em 5%;
    border: 0;
    border-radius: 0.625em;
    color: #ffffff;
    font-style: normal;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 0.875em;
}

    /* Gallery Page */
#gallery-page section {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

#gallery-page section:last-of-type {
    border-bottom: none;
}

#gallery-page h2 {
    margin-bottom: 0;
}

#gallery-page h3 {
    color: #476CA5;
    font-weight: 800;
}

#gallery-page section img {
    border: 2px solid #0A4B7D;
    cursor: pointer;
}

#gallery-page section img:hover  {
    border: 4px solid #0A4B7D;
}

#gallery-page label {
    color: #476CA5;
    font-size: 1.125em;
    margin-top: 0.625em;
}

/* Image Zoom */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 200;
}

#overlayContent {
    position: fixed;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 999;
}

#overlayContent img {
    width: 37.5em;
}

#imgBig {
    border: 5px solid #01216C;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact Page */
#contact-page .profile-photo img {
    border: 2px solid #0A4B7D;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #476CA5;
}

/* Instagram */
#contact-page .social-ig {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: #0A4B7D;
    letter-spacing: 1px;
    margin: 1.25em auto;
    text-align: center;
}

#contact-page .fa-instagram {
    font-size: 1.875em;
}

#contact-page form {
    box-shadow: 0 0 2px 1px #476CA5;
}

#contact-page .form-control {
    font-size: 1em;
    border: 1px solid #0A4B7D;
    border-radius: 0;
    line-height: 2.5em;
    padding: 0.9375em;
}

#contact-page textarea {
    margin-bottom: 0.9375em;
}
#contact-page section {
    margin-bottom: 1.25em;
}

#contact-page h3 {
    font-size: 1.5em;
    color: #0A4B7D;
    margin-bottom: 0.5em;
}

#patient-page label,
#contact-page label {
    display: inline-block;
    width: 5em;
    text-align: left;
    font-weight: 600;
}

#contact-page section.contact-info p {
    line-height: 1.25em;
}

#contact-page section a {
    font-size: 1.25em;
}

#contact-page section a:visited,
#contact-page section a:active {
    text-decoration: none !important;
}

#contact-page iframe {
    width: 100%;
    padding-top: 1.25em;
}

@media screen and (min-width: 1200px) {
    main#main-content {
        padding: 15.625em 0 3.125em;
    }
}

@media screen and (min-width: 860px) {
    body.scrolled {
        padding-top: 168px;
    }

    body.page_index.scrolled header, body.scrolled header {
        position: fixed;
        background-color: #fff;
    }

    body.scrolled #main-header > div > a {
        max-width: 240px;
    }
}

@media screen and (max-width: 1200px) {
    main#main-content {
        padding-top: 14.063em;
    }
}

@media screen and (max-width: 1020px) {
    header, body.page_index header {
        background-color: #fff;
    }

    main#main-content {
        padding-top: 12.5em;
    }
}

@media screen and (max-width: 992px) {
    main.main-page .badge-logo div:nth-child(1),
    main.main-page .badge-logo div:nth-child(2) {
        padding-bottom: 2.188em;
    }

    main.main-page .badge-logo img {
        height: 4.688em;
    }

    #about-page p {
        margin-left: 1.5625em;
        margin-right: 1.5625em;
    }

    #contact-page section:first-of-type {
        margin-top: 6.25em;
        padding-top: 1.875em;
        border-top: 1px solid lightgray;
    }

    #contact-page section {
        padding-left: 1.5625em;
    }

    #footer-header img {
        max-width: 18.75em;
    }
}

@media screen and (max-width: 860px) {
    body {
        padding-top: 0;
    }

    body.scrolled header {
        position: static !important;
    }

    header #responsive-nav {
        display: block;
    }

    header #contact-details {
        display: none;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 999;
    }

    nav > ul {
        display: none;
        text-align: center;
        margin: 0;
    }

    nav li {
        margin: 0 1%;
    }

    nav.opened > ul > li {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    nav.opened > ul > li > a {
        display: inline-block;
        width: 35%;
        padding: 0.5em;
        margin: 0;
    }

    #main-header > div {
        flex-direction: column;
    }

    #main-header .header-contact {
        flex-basis: auto;
    }

    #main-header > div > a img.header-full {
        width: 12.5em;
        padding-top: 3.750em;
        padding-bottom: 0.625em;
    }

    #main-header .header-contact {
        padding-bottom: 0.5em;
    }

    #main-header > div > a {
        order: -1;
    }

    main {
        margin: 0 auto;
    }

    #overlayContent img {
        width: 31.25em;
    }
}

@media screen and (max-width: 768px) {
    /*body.page_index main section h2{*/
        /*font-size: 1.875em;*/
        /*line-height: 1.2;*/
    /*}*/

    /*h2:after {*/
        /*display: block;*/
        /*margin: 0.625em auto;*/
    /*}*/

    /* Request an Appointment Button */
    .request-appnt img {
        float: left;
        padding-left: 1.25em;
        padding-bottom: 1.875em;
    }

    main.main-page .badge-logo div:nth-child(3) {
        padding-bottom: 2.188em;
    }

    #about-page h2 {
        margin-bottom: 0.625em;
    }

    #overlayContent img {
        width: 25em;
    }
}

@media screen and (max-width: 500px) {
    #procedure-page h3,
    #procedure-page h3.accordion {
        font-size: 1.25em;
        margin-right:0.625em;
    }

    #gallery-page section img {
        pointer-events: none;
    }

    #contact-page section:first-of-type {
        margin-top: 6.25em;
    }
}

@media screen and (max-width: 400px) {
    #footer-header img {
        max-width: 12.5em;
    }

    footer .hours label {
        width: 5em;
    }
}

.crossfade {
    position: relative;
    background-image: url("https://placehold.it/1200x400?text=IMAGE");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
}

.crossfade > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    text-align: center;
}

.crossfade h2 {
    font-size: 3.125em;
}

@media screen and (max-width: 500px) {
    .crossfade h2 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 400px) {
    .crossfade h2 {
        font-size: 1.875em;
    }
}

.crossfade p {
    font-size: 1.875em;
    margin-top: -0.625em;
    margin-bottom: 5px;
    padding: 5px 0!important;
    line-height:  1.25em;
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1100px) {
    .crossfade p {
        font-size: 1.25em;
    }
}

.crossfade h3 {
    font-size: 2.5em;
}

@media screen and (max-width: 900px) {
    .crossfade h3 {
        font-size: 1.875em;
    }
}

@media screen and (max-width: 400px) {
    .crossfade h3 {
        font-size:  1.25em;
    }
}

/*https://www.cssscript.com/css-only-crossfading-background-slideshow/*/
