@import "variables";
@import "mixins";
@import "extend";

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #3d3a35;
  font-family: Lato, sans-serif;
  @include font(16px, 400);
  line-height: 1.88;
  margin: 0;

  &.page_index {
    padding-top: 0 !important;

    header {
      position: absolute;
      background-color: transparent;
    }
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  @include color(transparent, $mainColorBase);

  &:active,
  &:hover {
    outline: 0;
    color: $darkerColorBase;
  }

  &:hover {
    -webkit-transition: color .3s, background-color .3s, box-shadow .3s;
    transition: color .3s, background-color .3s, box-shadow .3s;
  }

  &:visited,
  &:active {
    text-decoration: none !important;
  }
}

img {
  display: block;
  max-width: 100%;
  @include marginCenter;
  border: 0;
}

.clear_float {
  clear: both;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn {
  @extend %buttonLink;
  @include color($mainColorBase, $white);

  &:hover {
    @extend %buttonLinkHover;
  }
}

.btn-alt {
  @extend %buttonLink;
  @include color($white, $mainColorBase);

  &:hover {
    @extend %buttonLinkHover;
  }
}

input {
  line-height: normal;

  &[type=checkbox],
  &[type=radio] {
    padding: 0;
    box-sizing: border-box;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    height: auto;
  }

  &[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
  }

  &[type=search]::-webkit-search-cancel-button,
  &[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
} // end of input

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
}

textarea {
  overflow: auto;
}

fieldset {
  @include marginPadding(0 $twoPixel, 0.35em $tenPixel $twelvePixel);
  border: 1px solid silver;
}

.seo {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

h2 {
  font-family: Lato, sans-serif;
  @include font(2.125em, 900);
  font-style: normal;
  line-height: 1;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: $twentyTwoPixel;
  line-height: 1.36;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  top: 0;
  background-color: $white;
  text-align: center;
  border-bottom: 1px solid $mainColorBase;
  box-shadow: 0 1px 2px $mainColorBase;
  -webkit-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;

  &.slideDown {
    z-index: 1000;
  }
} // end of header

/* Menu */
nav {
  background-color: $mainColorBase;
  @include font($fifteenPixel, 400);
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  @include marginCenter;
  @include paddingTB($tenPixel, $tenPixel);

  #responsive-nav { /* Small Device Menu */
    display: none;
    height: 2.813em;
    width: 100%;

    .flex {
      display: flex;
      justify-content: space-around;
    }

    a,
    address {
      position: relative;
      float: left;
      text-align: center;
    }

    button {
      background-color: $mainColorBase;
      border: 1px solid $white;
      border-radius: 3px;
    }

    span {
      color: $white;
      @include font($thirtyPixel, 400);
      padding: 0.188em;
    }

    address span {
      font-size: $twentyFivePixel;
      padding-top: 0.375em;
    }
  } // end of nav #responsive-nav

  ul {
    list-style: none;
    display: block;
    @include marginPadding(0, 0);
    text-align: center;
    vertical-align: top;

    li {
      display: inline-block;
      position: relative;

      &:before {
        content: none;
      }

      a {
        display: block;
        color: $white;
        font-size: $eighteenPixel;
        padding: 0.375em $fifteenPixel;
        transition: background .3s, color .3s;
        text-transform: uppercase;
      }

      &:hover a {
        text-decoration: none;
        @include color($darkerColorBase, $white);
      }
    }
  } // end of nav ul
} // end of nav

#main-header {
  padding: $fivePixel 0;
  -webkit-transition: min-height 0.3s;
  -o-transition: min-height 0.3s;
  transition: min-height 0.3s;

  > div {
    max-width: 1350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include marginCenter;

    > a { /* Website logo */
      max-width: 440px;
      z-index: 100;
      -webkit-transition: max-width .3s;
      -o-transition: max-width .3s;
      transition: max-width .3s;

      img.header-full {
        width: 100%;
        -webkit-transition: width .3s;
        -o-transition: width .3s;
        transition: width .3s;
      }
    }
  } // end of #main-header > div

  .header-contact {
    width: 100%;
    flex-basis: 400px;
    text-align: center;
    line-height: 1;

    > a {
      color: $mainColorBase;
      font-family: Lato, sans-serif;
      @include font(2.0625em, 400);

      &:hover {
        @extend %headerLinkHover;
      }

      &.btn:hover {
        color: $white;
      }
    }

    .email {
      color: $mainColorBase;
      font-size: $eighteenPixel;
    }

    address {
      line-height: 1.2;
      margin-bottom: $fifteenPixel;

      a {
        display: inline-block;
        color: #3d3a35;
        font-family: Lato, sans-serif;
        @include font(1em, 400);
        vertical-align: middle;
        -webkit-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s;
      }

      a:hover {
        @extend %headerLinkHover;
      }
    }

    .btn {
      display: block;
      max-width: 250px;
      width: 100%;
      color: $white;
      @include font($twelvePixel, 400);
      @include marginPadding(0 auto, $twelvePixel);
      border-radius: 5px;
      line-height: 1;

      strong {
        display: block;
        @include font($eighteenPixel, 900);
        padding-bottom: $eightPixel;
      }
    }
  } // end of #main-header .header-contact
} // end of #main-header

footer {
  background-size: cover;
  @include color($mainColorBase, $white);
  text-align: center;
  align-items: center;
  margin-top: 0;
  padding-top: $fiftyPixel;

  #footer-header {
    @extend %mobileSidePadding;

    .col-md-4 {
      margin: $fiftyPixel 0;
    }
  }

  h2 {
    @extend %footerHeader;
  }

  .well-title h3 {
    @extend %footerHeader;
  }

  h3 {
    @include font($eighteenPixel, 700);
    letter-spacing: 1px;
    margin: 0 auto $fifteenPixel;
  }

  #appointment-form {
    @extend %pagesSidePadding;
  }

  .well-title {
    margin: $thirtyPixel auto $twentyPixel;
  }

  .g-recaptcha {
    display: inline-block;
  }

  .btn-alt {
    display: block;
    @include marginCenter($tenPixel);
    box-shadow: none;
    border: none;
    border-radius: 5px;

  }

  .social-ig { /* Footer Instagram */
    font-family: 'Pacifico', cursive;
    font-size: $twentyFourPixel;
    letter-spacing: 1px;
  }

  .fa-instagram {
    font-size: $thirtyPixel;
    color: $white;
  }

  .hours { /* Office Hours */
    color: $white;

    label {
      display: inline-block;
      width: 6.875em;
      text-align: left;
      font-weight: 600;
    }
  }

  .copyright {
    position: relative;
    @include font($fifteenPixel, 300);
    @include marginCenter;
    padding-bottom: $tenPixel;
    text-align: center;
  }

  #author {
    font-size: $twelvePixel;
    margin-top: -$eightPixel;

    a {
      color: $white;
    }
  }
} // end of footer

#main-content p.intro {
  font-size: $twentyPixel;
  padding-bottom: $twentyPixel;
}

/* Request an Appointment Button */
.request-appnt img {
  float: right;
  margin-bottom: -$twentyFivePixel;
}

/* Home Page */
main.main-page {
  #myCarousel {
    margin-top: -$tenPixel;
  }

  .carousel-indicators li {
    background-color: $darkerColorBase;
    border-color: $darkerColorBase;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
    margin: 0 !important;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    color: $white;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 2px $darkerColorBase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h2 {
      font-size: $fiftyPixel;
    }

    p {
      font-size: $thirtyPixel;
      line-height:  $twentyPixel;
      @include marginTB(-$tenPixel, $fivePixel);
      padding: $fivePixel 0!important;
      border-bottom: 2px solid $white;
    }

    h3 {
      font-size: $fortyPixel;
    }
  }

  #senior-couple .carousel-caption {
    top: 65%;
    color: $darkerColorBase;
    text-shadow: none;

    p {
      border-bottom: 2px solid $darkerColorBase;
    }
  }

  .carousel-fade {
    .carousel-inner {
      .item {
        opacity: 0.8;
        -webkit-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
      }

      .active {
        opacity: 1;
      }

      .active.left,
      .active.right {
        left: 0;
        opacity: 0.5;
        z-index: 1;
      }

      .next.left,
      .prev.right {
        opacity: 1;
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }

  section {
    @include paddingTB($eightyPixel, $eightyPixel);
    @extend %mobileSidePadding;

    &:first-of-type {
      background: $white url("http://drfortinoperiodontics.com/assets/img/drDanielFortino/Fortino4a.png") left bottom/auto no-repeat;
      padding-bottom: 0;

      .container {
        width: 90%;
        padding-left: 8%;
        padding-bottom: $fiftyPixel;
      }
    }

    h2 {
      font-size: $thirtyFivePixel;
      color: $mainColorBase;
      padding-bottom: $tenPixel;
    }

    p {
      @include font($twentyPixel, 400);
      line-height: $thirtyPixel;
      margin-bottom: $twentyPixel;
    }
  } // end of section

  section.blue-color {
    width: 100%;
    background-color: $whiteColorBase;
    @include paddingLR(0, 0);

    .container {
      @include paddingLR($mobileSidePadding, $mobileSidePadding);
    }
  }

  section.doctor-intro {
    background: $whiteColorBase url("http://drfortinoperiodontics.com/assets/img/drDanielFortino/Fortino2.png") 90% bottom/contain no-repeat;
    height: 500px;
    @include paddingTB($eightyPixel, $eightyPixel);

    p {
      width: 85%;
    }
  }

  section.badge-logo {
    background-color: $white;
    @include paddingTB($fiftyPixel, $fiftyPixel);
    @include center;

    img {
      display: block;
      height: $eightyPixel;
      @include paddingLR($twelvePixel, $twelvePixel);
      @include center;
    }
  }

  section.full-arch {
    position: relative;
    height: auto;
    background: $whiteColorBase url("http://drfortinoperiodontics.com/assets/img/front-page/happy-couple.png") right bottom/contain no-repeat;

    h3 {
      @include font($twentyFivePixel, 500);
      color: $mainColorBase;
      line-height: $twentyPixel;
      margin-bottom: $twentyFivePixel;
    }

    .text-left h3 {
      font-size: $thirtyPixel;
      line-height: $twentyFivePixel;
    }

    .text-center h3 {
      width: 65%;
      @include center;
    }

    p {
      width: 73%;
      font-size: $twentyFivePixel;
      line-height: $twentyFivePixel;
      margin-bottom: $twentyPixel;
    }

    .row {
      @include marginTB($twentyPixel, 0);
    }
  }

  section.promote-procedure {
    background-color: $white;
    padding-bottom: 0;

   > div {
      display: inline-block;
      vertical-align: top;
      margin: 0 $eightPixel $thirtyPixel;
    }

    img {
      width: 14.063em;
      height: 14.063em;
    }

    h3 {
      color: $mainColorBase;
      @include font($twentyFourPixel, 600);
      line-height: $twentyPixel;
      margin-top: $tenPixel;
    }

    a {
     &:hover,
     &:visited,
     &:active,
     &:focus {
        text-decoration: none;
      }
    }
  } // end of .promote-procedure

  button {
    @extend %blueButton;

    &:hover,
    &:visited,
    &:active {
      background-color: $darkerColorBase;
      text-decoration: none;
    }

    a {
      @extend %blueButtonLink;

      &:hover,
      &:visited,
      &:active {
        text-decoration: none;
      }
    }
  }

  .hvrbox,
  .hvrbox * {
    box-sizing: border-box;
  }

  .hvrbox {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    .hvrbox-layer_bottom {
      display: block;
    }

    .hvrbox-layer_top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @include color(rgba(0, 0, 0, 0.6), $white);
      padding: $fifteenPixel;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    &:hover .hvrbox-layer_top,
    &.active .hvrbox-layer_top {
      opacity: 1;
    }

    .hvrbox-text {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      font-size: 1em;
      line-height: $twentyPixel;
      text-align: left;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .hvrbox-text_mobile {
      display: none;
      font-size: $fifteenPixel;
      margin-top: $fivePixel;
      padding-top: $twoPixel;
      border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
      border-top: 1px solid rgba(179, 179, 179, 0.7);
    }

    &.active .hvrbox-text_mobile {
      display: block;
    }
  } // end of .hvrbox
} // end of main.main-page

#about-page {
  @extend %pagesMargin;
  @extend %mobileSidePadding;

  h2 {
    color: $mainColorBase;
    @include font($twentyFourPixel, 600);
    line-height: $twentyPixel;
    margin-bottom: $fiftyPixel;
    @extend %pagesSidePadding;
  }

  .profile-photo {
    @include paddingLR($thirtyPixel, $thirtyPixel);

    img {
      @include marginTB($thirtyPixel, $twentyFivePixel);
      border-radius: 5%;
      box-shadow: 0 0 8px 2px #e5e5e5;
    }
  }

  p {
    @include font($eighteenPixel, 400);
    line-height: $twentyFivePixel;
    color: #303030;
    margin-bottom: $thirtyPixel;
  }
} // end of #about-page

#procedure-page {
  @extend %pagesMargin;
  @extend %pagesSidePadding;

  h2 {
    @extend %pagesH2;
  }

  h3.accordion {
    width: 100%;
    @include color($lighterColorBase, $white);
    font-size: $twentyFourPixel;
    text-align: left;
    padding: $eighteenPixel;
    border: 1px solid $mainColorBase;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: $mainColorBase;
  }

  .accordion.more:after {
    content: '\002B';
    float: right;
    color: $white;
    font-weight: bold;
    margin-left: $tenPixel;
  }

  .panel {
    display: none;
    background-color: white;
    padding: $eighteenPixel;
    margin-bottom: $twentyPixel;
    overflow: hidden;

    p {
      font-size: $eighteenPixel;
    }

    h3 {
      font-size: $twentyPixel;
    }
  }

  p,
  li {
    font-weight: 400;
    line-height: $thirtyPixel;
    margin-bottom: $twentyPixel;
  }

  ul {
    margin-top: $thirtyPixel;

    li {
      list-style-type: disc;
    }
  }

  h3 a {
    &:visited,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  button {
    @extend %blueButton;

    a{
      @extend %blueButtonLink;

      &:hover,
      &:visited,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  video {
    display:block;
    width: 100%;
    height: 100%;

    &#perio-video {
      width: 50%;
      height: 50%;
      @include center;
    }
  }

  #wisdom-teeth h3 { /* Wisdom Teeth */
    color: $softColorBase;
    margin: $thirtyPixel auto $fifteenPixel;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .well {
    background-color: $whiteColorBase;
    width: 90%;
    @include center;

    img {
      border: 2px solid #70b1e3;
    }
  }
} // end of #procedure-page

#patient-page {
  @extend %pagesMargin;
  @extend %pagesSidePadding;

  h2 {
    @extend %pagesH2;
  }

  h3 {
    color: $softColorBase;
    margin: $thirtyPixel auto $fifteenPixel;

    &:first-of-type {
      margin-top: 0;
    }
  }

  label {
    @extend %scheduleLabel;
  }

  a { /* Download Forms */
    cursor: pointer;

    &:hover {
      @extend %downloadFormLink;
    }

    &:hover,
    &:visited,
    &:active,
    &:focus{
      text-decoration: none;
    }
  }

} // end of #patient-page

#referral-page {
  @extend %pagesMargin;
  @extend %pagesSidePadding;

  h2 {
    @extend %pagesH2;
  }

  section {
    font-size: $twentyPixel;
    margin-bottom: $thirtyPixel;
    border-bottom: 1px solid lightgray;
  }

  a { /* Download Forms */
    cursor: pointer;

    &:hover {
      @extend %downloadFormLink;
    }

    &:hover,
    &:visited,
    &:active,
    &:focus{
      text-decoration: none;
    }
  }

  div.referral-form-container {
    max-width: 600px;
  }

  form#referral-form {
    label {
      display: block;
      color: $sharpColorBase;
      @include font(1em, normal);
      font-style: normal;
      line-height: $fourteenPixel;
      padding: $eightPixel 0 $twoPixel 0;

    }

    input,
    textarea {
      display: block;
      width: 100%;
      @include color(#e6ecf4, $sharpColorBase);
      @include font($eighteenPixel, normal);
      font-style: normal;
      line-height: 1em;
      padding: $tenPixel 3%;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px 3px 0 #D6D6D6;
      outline: none;
    }

    select {
      padding: $fivePixel;
      border-color: $sharpColorBase;
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
      margin: $tenPixel;

      label {
        display: inline-block;
        @include color(#e6ecf4, $sharpColorBase);
        padding: $tenPixel;
        margin-right: $eightPixel;
        border-radius: 2px;
        cursor: pointer;
      }

      input.upload {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $twentyPixel;
        @include marginPadding(0, 0);
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }

    input#uploadFile {
      display: none;
      background: none;
      box-shadow: none;
      margin-top: $tenPixel;
    }

    #submit_button {
      display: block;
      float: left;
      @include color($sharpColorBase, $white);
      @include font($fourteenPixel, normal);
      font-style: normal;
      line-height: $fourteenPixel;
      padding: $tenPixel 5%;
      border: none;
      border-radius: 10px;
    }
  } // end of form#referral-form
} // end of #referral-page

#gallery-page {
  @extend %pagesMargin;
  @extend %pagesSidePadding;

  h2 {
    @extend %pagesH2;
  }

  section {
    text-align: center;
    border-bottom: 1px solid lightgray;

    &:last-of-type {
      border-bottom: none;
    }

    h3 {
      color: $softColorBase;
      font-weight: 800;
      margin: $thirtyPixel auto $tenPixel;
    }

    label {
      color: $softColorBase;
      font-size: $eighteenPixel;
    }

    img {
      margin-bottom: $thirtyPixel;
      border: 2px solid $mainColorBase;
      cursor: pointer;

      &:hover {
        border: 4px solid $mainColorBase;
      }

      &.no-zoom {
        pointer-events: none;
      }
    }
  }

  #overlay { /* Image Zoom */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000;
  }

  #overlayContent {
    display: none;
    position: fixed;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
    overflow: hidden;
    z-index: 2999;

    img {
      width: 37.5em;
    }
  }

  #imgBig {
    border: 5px solid #01216C;
    border-radius: 5px;
    cursor: pointer;
  }
} // end of #gallery-page

#contact-page {
  @extend %pagesMargin;
  @extend %pagesSidePadding;

  h2 {
    @extend %pagesH2;
  }

  .row:nth-of-type(2){
    padding-bottom: 1em;
  }

  .profile-photo img {
    border: 2px solid $mainColorBase;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px $softColorBase;
  }

  .social-ig { /* Instagram */
    color: #0A4B7D;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    margin: 1.25em auto;
  }

  .fa-instagram {
    font-size: $thirtyPixel;
  }

  form {
    padding-bottom: $thirtyPixel;

    .form-control {
      font-size: 1em;
      line-height: $fortyPixel;
      padding: $fifteenPixel;
      border: 1px solid $mainColorBase;
      border-radius: 0;
    }

    input,
    textarea,
    .g-recaptcha iframe {
      box-shadow: 0 0 2px 1px $softColorBase;
    }

    textarea {
      margin-bottom: $fifteenPixel;
    }

    .g-recaptcha iframe {
      padding-top: 0;
      border: 1px solid $mainColorBase;
      border-radius: 3px;
    }

    .btn.pull-left {
      margin-top: $thirtyPixel;
    }
  } // end of form

  section {
    margin-bottom: $twentyPixel;

    &.contact-info p {
      line-height: $twentyPixel;
    }

    a {
      font-size: $twentyPixel;

      &:visited,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  h3 {
    font-size: $twentyFourPixel;
    color: $mainColorBase;
    margin-bottom: $eightPixel;
  }

  label {
    @extend %scheduleLabel;
  }

  .hours span {
    visibility: hidden;
  }

  iframe {
    width: 100%;
    padding-top: $twentyPixel;
  }
} // end of #contact-page

/* Submitted Form */
.submitted p {
  font-size: $twentyPixel;
  padding-bottom: $fortyPixel;

  &:first-of-type {
    color: $mainColorBase;
    @include font($thirtyPixel, 600);
    line-height: $twentyPixel;
    margin-top: $fiftyPixel;
    padding-bottom: $twentyPixel;
  }
}

@media (max-width: 1299px) and (min-width: 1100px) {
  main.main-page section.promote-procedure > div {
    width: 18%;
  }
}

@media screen and (min-width: 1200px) {
  main#main-content {
    padding: 15.625em 0 $fiftyPixel;
  }
}

@media screen and (min-width: 860px) {
  body.scrolled {
    padding-top: 168px;
  }

  body.page_index.scrolled header,
  body.scrolled header {
    position: fixed;
    background-color: $white;
  }

  body.scrolled #main-header > div > a {
    max-width: 240px;
  }
}

@media screen and (max-width: 1600px) {
  main.main-page section.doctor-intro {
    background-position: 95% bottom;
  }
}

@media screen and (max-width: 1450px) {
  main.main-page section.doctor-intro p {
    width: 80%;
  }
}

@media screen and (max-width: 1430px) {
  main.main-page .carousel-caption {
    width: 60%;
  }
}

@media screen and (max-width: 1350px) {
  main.main-page {
    section:first-of-type .container {
      width: 90%;
      padding-left: 10%;
    }

    section.doctor-intro p {
      width: 71%;
    }

    section.full-arch {
      background-size: 35% 90%;

      .text-left h3 {
        margin-bottom: $fifteenPixel;
      }

      p {
        width: 70%;
        margin-bottom: $tenPixel;
      }

      .text-center h3 {
        margin-top: $fifteenPixel;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main#main-content {
    padding-top: 14.063em;
  }

  main.main-page {
    .carousel-caption {
      width: 70%;
    }

    section:first-of-type .container {
      width: 90%;
      padding-left: 15%;
    }

    section.doctor-intro p {
      width: 67%;
    }

    section.full-arch {
      background-size: 40% 90%;
    }

    section.promote-procedure {
      padding-bottom: $fiftyPixel;
    }
  }
}

@media screen and (max-width: 1030px) {
  main.main-page .carousel-caption {
    width: 80%;
  }
}

@media screen and (max-width: 1020px) {
  header,
  body.page_index header {
    background-color: $white;
  }

  main#main-content {
    padding-top: 12.5em;
  }
}

@media screen and (max-width: 992px) {
  main.main-page {
    section.doctor-intro {
      height: auto;

      p {
        width: 65%;
      }
    }

    section.badge-logo div:nth-child(1),
    section.badge-logo div:nth-child(2) {
      padding-bottom: $thirtyFivePixel;
    }

    section.badge-logo img {
      height: 4.688em;
    }

    section.full-arch {
      background-size: 40% 85%;
    }
  }

  #about-page p {
    @include marginLR($twentyFivePixel, $twentyFivePixel);
  }

  #procedure-page video#perio-video {
    width: 70%;
    height: 70%;
  }

  #procedure-page .well h4 { /*Wisdom Teeth*/
    margin-top: $twentyPixel;
  }

  #contact-page {
    section {
      padding-left: $twentyFivePixel;

      &:first-of-type {
        padding-bottom: $thirtyPixel;
      }

      &:nth-child(1)  {
        @include paddingTB($thirtyPixel, 0);
      }
    }

    iframe {
      padding-top: 0;
    }

    .hours span {
      display: none;
    }
  }

  footer #footer-header img {
    max-width: 18.75em;
  }
}

@media screen and (max-width: 950px) {
  main.main-page {
    #myCarousel {
      margin-top: -$twentyPixel;
    }

    section:first-of-type .container {
      width: 90%;
      padding-left: 20%;
    }

    section.doctor-intro {
      background-position: right bottom;

      p {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  main.main-page .carousel-caption {
    width: 75%;

    h2 {
      font-size: $thirtyFivePixel;
    }

    p {
      font-size: $twentyPixel;
    }

    h3 {
      font-size: $thirtyPixel;
    }
  }
}

@media screen and (max-width: 860px) {
  body {
    padding-top: 0;
  }

  body.scrolled header {
    position: static !important;
  }

  header {
    nav #responsive-nav {
      display: block;
    }

    #contact-details {
      display: none;
    }
  }

  nav {
    position: fixed;
    width: 100%;
    z-index: 999;

    > ul {
      display: none;
      text-align: center;
      margin: 0;
    }

    ul li {
      margin: 0 1%;
    }
  }

  nav.opened > ul > li {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;

    > a {
      display: inline-block;
      width: 35%;
      @include marginPadding(0, $eightPixel);
    }
  }

  #main-header {
    > div {
      flex-direction: column;

      > a {
        order: -1;

        img.header-full {
          width: 12.5em;
          @include paddingTB(3.750em, $tenPixel);
        }
      }
    }

    .header-contact {
      padding-bottom: $eightPixel;
      flex-basis: auto;
    }
  }

  main#main-content {
    @include marginCenter;
  }

  main.main-page {
    #senior-couple {
      margin-top: $fortyPixel;
    }

    section.doctor-intro {
      background-size: 40% 85%;

      p {
        width: 65%;
      }
    }

    section.full-arch {
      background-size: 40% 75%;
    }
  }

  #gallery-page #overlayContent img {
    width: 31.25em;
  }
}

@media screen and (max-width: 767px) {
  .request-appnt img {
    float: left;
    padding-left: $twentyPixel;
    padding-bottom: $thirtyPixel;
  }

  main.main-page section.badge-logo div:nth-child(3) {
    padding-bottom: $thirtyFivePixel;
  }

  main.main-page section.full-arch {
    background-image: none;

    .text-left h3 {
      text-align: center;
    }

    p {
      width: 90%;
      text-align: center;
      @include center;
    }

    .text-center h3 {
      width: 85%;
    }
  }

  #about-page {
    h2 {
      margin-bottom: $tenPixel;
    }

    .profile-photo img {
      width: 55%;
    }
  }

  #gallery-page #overlayContent img {
    width: 25em;
  }

  #main-content #contact-page p.intro {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  main.main-page {
    .carousel-caption {
      top: 45%;
    }

    #senior-couple .carousel-caption {
      h2 {
        font-size: $thirtyPixel;
      }

      p {
        font-size: 1em;
      }

      h3 {
        font-size: $twentyFivePixel;
      }
    }

    section:first-of-type,
    section.doctor-intro {
      background-image: none;
    }

    section:first-of-type .container {
      width: 100%;
      @include paddingLR(0, 0);
    }

    section.doctor-intro .container {
      padding-left: 8%;
    }

    section.doctor-intro p {
      width: 85%;
    }
  }
}

@media screen and (max-width: 650px) {
  main.main-page #senior-couple .carousel-caption {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  main.main-page {
    .carousel-caption {
      top: 40%;

      h2 {
        font-size: $thirtyPixel;
      }

      p {
        font-size: 1em;
      }

      h3 {
        font-size: $twentyFivePixel;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main.main-page section.doctor-intro .container {
    padding-left: 10%;
  }

  #about-page .profile-photo img {
    width: 70%;
  }

  #procedure-page h3,
  #procedure-page h3.accordion {
    font-size: $twentyPixel;
    margin-right: $tenPixel;
  }

  #procedure-page .well p {
    font-size: $eighteenPixel;
  }

  #gallery-page section img {
    pointer-events: none;
  }
}

@media screen and (max-width: 480px) {
  main.main-page .carousel-caption {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  footer #footer-header img {
    max-width: 12.5em;
  }

  footer .hours label {
    width: $eightyPixel;
  }
}
