
$mainColorBase: #0A4B7D;
$lighterColorBase: #1074BC;
$softColorBase: #476CA5;
$sharpColorBase: #01559f;
$darkerColorBase: #073457;
$whiteColorBase: #e4f5fd;
$white: #ffffff;

$twoPixel: 0.125em;
$fivePixel: 0.3125em;
$eightPixel: 0.5em;
$tenPixel: 0.625em;
$twelvePixel: 0.75em;
$fourteenPixel: 0.875em;
$fifteenPixel: 0.9375em;
$eighteenPixel: 1.125em;
$twentyPixel: 1.25em;
$twentyTwoPixel: 1.375em;
$twentyFourPixel: 1.5em;
$twentyFivePixel: 1.5625em;
$thirtyPixel: 1.875em;
$thirtyFivePixel: 2.188em;
$fortyPixel: 2.5em;
$fiftyPixel: 3.125em;
$eightyPixel: 5em;

$pagesTopBottomMargin: 3.125em;
$pagesSidePadding: 1.875em;
$mobileSidePadding: 0.625em;
