html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    color: #3d3a35;
    margin: 0;
}

body.page_index {
    padding-top: 0 !important;
}

*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1.2;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a {
    background-color: transparent;
    color: #0A4B7D;
}

a:active, a:hover {
    outline: 0;
    color: #073457;
}

a:hover {
    -webkit-transition: color .3s, background-color .3s, box-shadow .3s;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

a:visited,
a:active {
    text-decoration: none !important;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border: 0;
}

.clear_float {
    clear: both;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.btn,
.btn-alt {
    display: inline-block;
    position: relative;
    min-width: 200px;
    font-family: Lato, sans-serif;
    font-size: 0.75em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0.9375em 0.625em;
    padding: 0.75em;
    border: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.btn {
    color: #fff;
    background-color: #0A4B7D;
}

.btn-alt {
    color: #0A4B7D;
    background-color: #fff;
}

.btn:hover,
.btn-alt:hover {
    background-color: #073457;
    color: #fff;
}

input {
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
}

textarea {
    overflow: auto;
}

fieldset {
    border: 1px solid silver;
    margin: 0 0.125em;
    padding: 0.35em 0.625em 0.75em;
}

.seo {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 2.125em;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-family: Lato, sans-serif;
    font-size: 1.375em;
    line-height: 1.36;
    margin: 0;
}

body.page_index header {
    position: absolute;
    background-color: transparent;
}

.flex-center {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    top: 0;
    background-color: #ffffff;
    text-align: center;
    -webkit-transition: margin .3s;
    transition: margin 0.3s;
    border-bottom: 1px solid #0A4B7D;
    box-shadow: 0 1px 2px #0A4B7D;
}

header.slideDown {
    z-index: 1000;
}

/* Menu */
nav {
    font-size: 0.9375em;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    background-color: #0A4B7D;
}

/* Small Device Menu */
nav #responsive-nav {
    display: none;
    height: 2.813em;
    width: 100%;
}

nav #responsive-nav .flex {
    display: flex;
    justify-content: space-around;
}

nav #responsive-nav a,
nav #responsive-nav address {
    position: relative;
    float: left;
    text-align: center;
}

nav #responsive-nav button {
    background-color: #0A4B7D;
    border: 1px solid #fff;
    border-radius: 3px;
}

nav #responsive-nav span {
    color: #fff;
    font-size: 1.875em;
    font-weight: 400;
    padding: 0.188em;
}

nav #responsive-nav address span {
    font-size: 1.5625em;
    padding-top: 0.375em;
}

nav ul {
    text-align: center;
    vertical-align: top;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li:hover a {
    color: #fff;
    background: #073457;
    text-decoration: none;
}

nav li:before {
    content: none;
}

nav li a {
    display: block;
    color: #ffffff;
    font-size: 1.125em;
    padding: 0.375em 0.9375em;
    transition: background .3s, color .3s;
    text-transform: uppercase;
}

#main-header {
    padding: 0.3125em 0;
    transition: min-height 0.3s;
}

#main-header > div {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}

#main-header .header-contact {
    text-align: center;
    width: 100%;
    flex-basis: 400px;
    line-height: 1;
}

#main-header .header-contact > a {
    font-size: 2.0625em;
    color: #0A4B7D;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

#main-header .header-contact .email {
    font-size: 1.125em;
    color: #0A4B7D;
}

#main-header .header-contact address {
    line-height: 1.2;
    margin-bottom: 0.9375em;
}

#main-header .header-contact address a {
    display: inline-block;
    vertical-align: middle;
    transition: color .3s;
    color: #3d3a35;
    font-family: Lato, sans-serif;
    font-size: 1em;
    font-weight: 400;
}

#main-header .header-contact > a:hover,
#main-header .header-contact address a:hover {
    color: #0A4B7D;
}

#main-header .header-contact > a.btn:hover {
    color: #fff;
}

#main-header .header-contact .btn {
    display: block;
    max-width: 250px;
    width: 100%;
    color: #fff;
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 5px;
    margin: 0 auto;
    line-height: 1;
    padding: 0.75em;
}

#main-header .header-contact .btn strong {
    display: block;
    font-weight: 900;
    font-size: 1.125em;
    padding-bottom: 0.5em;
}

/* Website logo */
#main-header > div > a {
    max-width: 440px;
    z-index: 100;
    transition: max-width .3s;
}

#main-header > div > a img.header-full {
    width: 100%;
    transition: width .3s;
}

footer {
    background-size: cover;
    background: #0A4B7D;
    color: #fff;
    text-align: center;
    align-items: center;
    margin-top: 0;
    padding-top: 3.125em;
}

footer #footer-header .col-md-4 {
    margin: 3.125em 0;
}

footer h2,
footer .well-title h3 {
    font-size: 1.5625em;
    font-weight: 700;
    margin-bottom: 0;
}
footer h3 {
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto 0.9375em;
}

/* Appointment Request */
footer #contact-form {
    margin-bottom: 1.875em;
}

footer .well-title {
    margin: 1.875em auto 1.25em;
}

footer .g-recaptcha {
    display: inline-block;
}

footer .btn-alt {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    margin: 0.625em auto;
}

/* Footer Instagram */
footer .social-ig {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    letter-spacing: 1px;
}

footer .fa-instagram {
    font-size: 1.875em;
    color: #fff;
}

/* Office Hours */
footer .hours {
    color: #fff;
}

footer .hours label {
    display: inline-block;
    width: 6.875em;
    text-align: left;
    font-weight: 600;
}

.copyright {
    text-align: center;
    font-size: 0.9375em;
    font-weight: 300;
    position: relative;
    margin: 0 auto;
    padding-bottom: 0.625em;
}

#author {
    font-size: 0.75em;
    margin-top: -0.5em;
}

#author a {
    color: #fff;
}

#about-page,
#procedure-page,
#patient-page,
#referral-page,
#gallery-page,
#contact-page {
    margin: 3.125em auto;
}

main.main-page section,
#about-page,
footer #footer-header {
    padding-left: 0.625em;
    padding-right: 0.625em;
}

#about-page h2,
#procedure-page,
#patient-page,
#referral-page,
#gallery-page,
#contact-page,
footer #appointment-form {
    padding-left: 1.875em;
    padding-right: 1.875em;
}

main.main-page button a:hover,
main.main-page button a:visited,
main.main-page button a:active,
main.main-page .promote-procedure a:hover,
main.main-page .promote-procedure a:visited,
main.main-page .promote-procedure a:active,
main.main-page .promote-procedure a:focus,
#procedure-page h3 a:visited,
#procedure-page h3 a:active,
#procedure-page h3 a:focus,
#procedure-page button a:hover,
#procedure-page button a:visited,
#procedure-page button a:active,
#procedure-page button a:focus,
#patient-page a:hover,
#patient-page a:visited,
#patient-page a:active,
#patient-page a:focus,
#referral-page a:hover,
#referral-page a:visited,
#referral-page a:active,
#referral-page a:focus,
#contact-page section a:visited,
#contact-page section a:active,
#contact-page section a:focus {
    text-decoration: none;
}

main.main-page section.blue-color {
    padding-left: 0;
    padding-right: 0;
}

main.main-page section.blue-color .container {
    padding-left: 0.625em;
    padding-right: 0.625em;
}

#procedure-page h2,
#patient-page h2,
#referral-page h2,
#gallery-page h2,
#contact-page h2{
     color: #0A4B7D;
     font-size: 1.875em;
     font-weight: 600;
     line-height: 1.25em;
     margin-bottom: 1.875em;
     clear: right;
 }

#patient-page h3 {
    color: #476CA5;
    margin: 1.875em auto 0.9375em;
}

#patient-page h3:first-of-type {
    margin-top: 0;
}

#main-content p.intro {
    font-size: 1.25em;
    padding-bottom: 1.25em;
}

/* Request an Appointment Button */
.request-appnt img {
    float: right;
    margin-bottom: -1.5625em;
}


/* Main Page */
#myCarousel {
    margin-top: -0.625em;
}

.carousel-indicators li {
    border-color: #073457;
    background-color: #073457;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    margin: 0 !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #073457;
}

#senior-couple .carousel-caption {
    color: #073457;
    text-shadow: none;
    top: 65%;
}

.carousel-caption h2 {
    font-size: 3.125em;
}

.carousel-caption p {
    font-size: 1.875em;
    margin-top: -0.625em;
    margin-bottom: 0.3125em;
    padding: 0.3125em 0!important;
    line-height:  1.25em;
    border-bottom: 2px solid #fff;
}

#senior-couple .carousel-caption p {
    border-bottom: 2px solid #073457;
}

.carousel-caption h3 {
    font-size: 2.5em;
}

.carousel-fade .carousel-inner .item {
    opacity: 0.8;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

main.main-page section {
    padding-top: 5em;
    padding-bottom: 5em;
}

main.main-page section.blue-color {
    width: 100%;
    background-color: #e4f5fd;
}

main.main-page section:first-of-type {
    background: #fff url("../img/drDanielFortino/Fortino4a.png") left bottom/auto no-repeat;
    padding-bottom: 0;
}

main.main-page section:first-of-type .container {
    width: 90%;
    padding-left: 8%;
    padding-bottom: 3.125em;
}

main.main-page section:last-of-type {
    padding-bottom: 0;
}

main.main-page section.badge-logo {
    background-color: #fff;
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    margin-left: auto;
    margin-right: auto;
}

main.main-page section h2 {
    font-size: 2.188em;
    color: #0A4B7D;
    padding-bottom: 0.625em;
}

main.main-page section p {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.875em;
    margin-bottom: 1.25em;
}

main.main-page button,
#procedure-page button {
    background-color: #0A4B7D;
    border-radius: 1.875em;
    border: none;
    padding-bottom: 0.125em;
    margin-top: 0.9375em;
}

main.main-page button a,
#procedure-page button a{
    font-size: 1.125em;
    color: #fff;
    padding: 0.9375em 2.188em;
}

main.main-page button:hover,
main.main-page button:visited,
main.main-page button:active {
    text-decoration: none;
    background-color: #073457;
}

main.main-page section.doctor-intro {
    background: #e4f5fd url("../img/drDanielFortino/Fortino2.png") 90% bottom/contain no-repeat;
    height: 500px;
    padding-top: 5em;
    padding-bottom: 5em;
}

main.main-page section.doctor-intro p {
    width: 85%;
}

main.main-page .badge-logo img {
    display: block;
    height: 5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-left: auto;
    margin-right: auto;
}

main.main-page section.full-arch {
    position: relative;
    height: auto;
    background: #e4f5fd url("../img/front-page/happy-couple.png") right bottom/contain no-repeat;
}

main.main-page section.full-arch h3 {
    font-size: 1.5625em;
    font-weight: 500;
    color: #0A4B7D;
    line-height: 1.25em;
    margin-bottom: 1.5625em;
}

main.main-page section.full-arch .text-left h3 {
    font-size: 1.875em;
    line-height: 1.5625em;;
}

main.main-page section.full-arch .text-center h3 {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

main.main-page section.full-arch p {
    width: 73%;
    font-size: 1.5625em;
    line-height: 1.5625em;
    margin-bottom: 1.25em;
}

main.main-page section.full-arch .row {
    margin-top: 1.25em;
    margin-bottom: 0;
}

main.main-page section.promote-procedure {
    background-color: #fff;
}

@media (max-width: 1299px) and (min-width: 1100px) {
    main.main-page section.promote-procedure > div {
        width: 18%;
    }
}

main.main-page section.promote-procedure > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5em 1.875em;
}

main.main-page section.promote-procedure img {
    width: 14.063em;
    height: 14.063em;
}

main.main-page section.promote-procedure h3 {
    color: #0A4B7D;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;
    margin-top: 0.625em;
}

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0.9375em;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: left;
    font-size: 1em;
    line-height: 1.25em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 0.9375em;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 0.3125em;
    padding-top: 0.125em;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

/* About Page */
#about-page h2 {
    color: #0A4B7D;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 3.125em;
}

#about-page .profile-photo {
    padding-left:  1.875em;
    padding-right:  1.875em;
}

#about-page .profile-photo img {
    margin-top: 1.875em;
    margin-bottom: 1.5625em;
    border-radius: 5%;
    box-shadow: 0 0 8px 2px #e5e5e5;
}

#about-page p {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.5625em;
    color: #303030;
    margin-bottom: 1.875em;
}

/* Procedure Page */
#procedure-page h3.accordion {
    width: 100%;
    font-size: 1.5em;
    background-color: #1074BC;
    color: #fff;
    border: 1px solid #0A4B7D;
    padding: 1.125em;
    text-align: left;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

#procedure-page .active,
#procedure-page .accordion:hover {
    background-color: #0A4B7D;
}

#procedure-page .accordion.more:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 0.625em;
}

#procedure-page .panel {
    display: none;
    padding: 1.125em;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1.25em;
}

#procedure-page .panel p {
    font-size: 1.125em;
}

#procedure-page .panel h3 {
    font-size: 1.25em;
}

#procedure-page p,
#procedure-page li {
    font-weight: 400;
    line-height: 1.875em;
    margin-bottom: 1.25em;
}

#procedure-page ul {
    margin-top: 1.875em;
}

#procedure-page ul li {
    list-style-type: disc;

}

video {
    display:block;
    width: 100%;
    height: 100%;
}

video#perio-video {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Wisdom Teeth */
#wisdom-teeth h3 {
    color: #476CA5;
    margin: 1.875em auto 0.9375em;
}

#wisdom-teeth h3:first-of-type {
    margin-top: 0;
}

#procedure-page .well {
    background-color: #e4f5fd;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#procedure-page .well img {
    border: 2px solid #70b1e3;
}

/* Download Forms */
#patient-page a,
#referral-page a {
    cursor: pointer;
}

#patient-page a:hover,
#referral-page a:hover {
    color: #476CA5;
    font-weight: 600;
}

/* Referral Page */
#referral-page section {
    font-size: 1.25em;
    margin-bottom: 1.875em;
    border-bottom: 1px solid lightgray;
}

.referral-form-container {
    max-width: 600px;
}

form#referral-form label {
    display: block;
    color: #01559f;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 0.875em;
    padding: 0.5em 0 0.125em 0;

}

form#referral-form input,
form#referral-form textarea {
    display: block;
    width: 100%;
    background-color: #e6ecf4;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 3px 0 #D6D6D6;
    color: #01559f;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    padding: 0.625em 3%;
    outline: none;
}

form#referral-form select {
    padding: 0.3125em;
    border-color: #01559f;
}

form#referral-form .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0.625em;
}

form#referral-form .fileUpload label {
    display: inline-block;
    background: #e6ecf4;
    color: #01559f;
    border-radius: 0.125em;
    padding: 0.625em;
    margin-right: 0.5em;
    cursor: pointer;
}

form#referral-form .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

form#referral-form input#uploadFile {
    background: none;
    box-shadow: none;
    display: none;
    margin-top: 0.625em;
}

form#referral-form #submit_button {
    display: block;
    float: left;
    background: #01559f;
    padding: 0.625em 5%;
    border: 0;
    border-radius: 0.625em;
    color: #ffffff;
    font-style: normal;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 0.875em;
}

    /* Gallery Page */
#gallery-page section {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

#gallery-page section:last-of-type {
    border-bottom: none;
}

#gallery-page h3 {
    color: #476CA5;
    font-weight: 800;
    margin: 1.875em auto 0.625em;
}

#gallery-page section img {
    border: 2px solid #0A4B7D;
    margin-bottom: 1.875em;
    cursor: pointer;
}

#gallery-page section img:hover  {
    border: 4px solid #0A4B7D;
}

#gallery-page section img.no-zoom {
    pointer-events: none;
}

#gallery-page label {
    color: #476CA5;
    font-size: 1.125em;
}

/* Image Zoom */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2000;
}

#overlayContent {
    position: fixed;
    width: 100%;
    top: 30%;
    left: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 2999;
}

#overlayContent img {
    width: 37.5em;
}

#imgBig {
    border: 5px solid #01216C;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact Page */
#contact-page .profile-photo img {
    border: 2px solid #0A4B7D;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #476CA5;
}

/* Instagram */
#contact-page .social-ig {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: #0A4B7D;
    letter-spacing: 1px;
    margin: 1.25em auto;
    text-align: center;
}

#contact-page .fa-instagram {
    font-size: 1.875em;
}

#contact-page form {
    padding-bottom: 1.875em;
}

#contact-page form input,
#contact-page form textarea,
#contact-page .g-recaptcha iframe {
    box-shadow: 0 0 2px 1px #476CA5;
}

#contact-page .form-control {
    font-size: 1em;
    border: 1px solid #0A4B7D;
    border-radius: 0;
    line-height: 2.5em;
    padding: 0.9375em;
}

#contact-page textarea {
    margin-bottom: 0.9375em;
}

#contact-page .g-recaptcha iframe {
    border: 1px solid #0A4B7D;
    border-radius: 3px;
    padding-top: 0;
}

#contact-page .btn.pull-left {
    margin-top: 1.875em;
}

#contact-page section {
    margin-bottom: 1.25em;
}

#contact-page h3 {
    font-size: 1.5em;
    color: #0A4B7D;
    margin-bottom: 0.5em;
}

#patient-page label,
#contact-page label {
    display: inline-block;
    width: 5em;
    text-align: left;
    font-weight: 600;
}

#contact-page section.contact-info p {
    line-height: 1.25em;
}

#contact-page section a {
    font-size: 1.25em;
}

#contact-page iframe {
    width: 100%;
    padding-top: 1.25em;
}

/* Submitted Form */
.submitted p {
    font-size: 1.25em;
    padding-bottom: 2.5em;
}

.submitted p:first-of-type {
    color: #0A4B7D;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1.25em;
    margin-top: 3.125em;
    padding-bottom: 1.25em;
}

@media screen and (min-width: 1200px) {
    main#main-content {
        padding: 15.625em 0 3.125em;
    }
}

@media screen and (min-width: 860px) {
    body.scrolled {
        padding-top: 168px;
    }

    body.page_index.scrolled header, body.scrolled header {
        position: fixed;
        background-color: #fff;
    }

    body.scrolled #main-header > div > a {
        max-width: 240px;
    }
}

@media screen and (max-width: 1600px) {
    main.main-page section.doctor-intro {
        background-position: 95% bottom;
    }
}

@media screen and (max-width: 1450px) {
    main.main-page section.doctor-intro p {
        width: 80%;
    }
}

@media screen and (max-width: 1430px) {
    .carousel-caption {
        width: 60%;
    }
}

@media screen and (max-width: 1350px) {
    main.main-page section:first-of-type .container {
        width: 90%;
        padding-left: 10%;
    }

    main.main-page section.doctor-intro p {
        width: 71%;
    }


    main.main-page section.full-arch {
        background-size: 35% 90%;
    }

    main.main-page section.full-arch .text-left h3 {
        margin-bottom: 0.9375em;
    }

    main.main-page section.full-arch p {
        width: 70%;
        margin-bottom: 0.625em;
    }

    main.main-page section.full-arch .text-center h3 {
        margin-top: 0.9375em;
    }
}

@media screen and (max-width: 1200px) {
    main#main-content {
        padding-top: 14.063em;
    }

    .carousel-caption {
        width: 70%;
    }

    main.main-page section:first-of-type .container {
        width: 90%;
        padding-left: 15%;
    }

    main.main-page section.doctor-intro p {
        width: 67%;
    }

    main.main-page section.full-arch {
        background-size: 40% 90%;
    }

    main.main-page section.promote-procedure {
        padding-bottom: 3.125em;
    }
}

@media screen and (max-width: 1030px) {
    .carousel-caption {
        width: 80%;
    }
}

@media screen and (max-width: 1020px) {
    header, body.page_index header {
        background-color: #fff;
    }

    main#main-content {
        padding-top: 12.5em;
    }

}

@media screen and (max-width: 992px) {
    main.main-page section.doctor-intro {
        height: auto;
    }

    main.main-page section.doctor-intro p {
        width: 65%;
    }

    main.main-page .badge-logo div:nth-child(1),
    main.main-page .badge-logo div:nth-child(2) {
        padding-bottom: 2.188em;
    }

    main.main-page .badge-logo img {
        height: 4.688em;
    }

    main.main-page section.full-arch {
        background-size: 40% 85%;
    }

    #about-page p {
        margin-left: 1.5625em;
        margin-right: 1.5625em;
    }

    video#perio-video {
        width: 70%;
        height: 70%;
    }
    /*Wisdom Teeth*/
    #procedure-page .well h4 {
        margin-top: 1.25em;
    }

    #contact-page section:first-of-type {
        margin-top: 6.25em;
        padding-top: 1.875em;
        border-top: 1px solid lightgray;
    }

    #contact-page section {
        padding-left: 1.5625em;
    }

    #footer-header img {
        max-width: 18.75em;
    }
}

@media screen and (max-width: 950px) {
    #myCarousel {
        margin-top: -1.25em;
    }

    main.main-page section:first-of-type .container {
        width: 90%;
        padding-left: 20%;
    }

    main.main-page section.doctor-intro {
        background-position: right bottom;
    }

    main.main-page section.doctor-intro p {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .carousel-caption {
        width: 75%;
    }
    .carousel-caption h2 {
        font-size: 2.188em;
    }
    .carousel-caption p {
        font-size: 1.25em;
    }
    .carousel-caption h3 {
        font-size: 1.875em;
    }
}

@media screen and (max-width: 860px) {
    body {
        padding-top: 0;
    }

    body.scrolled header {
        position: static !important;
    }

    header #responsive-nav {
        display: block;
    }

    header #contact-details {
        display: none;
    }

    nav {
        width: 100%;
        position: fixed;
        z-index: 999;
    }

    nav > ul {
        display: none;
        text-align: center;
        margin: 0;
    }

    nav li {
        margin: 0 1%;
    }

    nav.opened > ul > li {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    nav.opened > ul > li > a {
        display: inline-block;
        width: 35%;
        padding: 0.5em;
        margin: 0;
    }

    #main-header > div {
        flex-direction: column;
    }

    #main-header .header-contact {
        flex-basis: auto;
    }

    #main-header > div > a img.header-full {
        width: 12.5em;
        padding-top: 3.750em;
        padding-bottom: 0.625em;
    }

    #main-header .header-contact {
        padding-bottom: 0.5em;
    }

    #main-header > div > a {
        order: -1;
    }

    main {
        margin: 0 auto;
    }

    #senior-couple {
        margin-top: 2.5em;
    }

    main.main-page section.doctor-intro {
        background-size: 40% 85%;
    }

    main.main-page section.doctor-intro p {
        width: 65%;
    }

    main.main-page section.full-arch {
        background-size: 40% 75%;
    }

    #overlayContent img {
        width: 31.25em;
    }
}

@media screen and (max-width: 768px) {
    .request-appnt img {
        float: left;
        padding-left: 1.25em;
        padding-bottom: 1.875em;
    }

    main.main-page .badge-logo div:nth-child(3) {
        padding-bottom: 2.188em;
    }

    main.main-page section.full-arch {
        background-image: none;
    }

    main.main-page section.full-arch .text-left h3 {
        text-align: center;
    }

    main.main-page section.full-arch p {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    main.main-page section.full-arch .text-center h3 {
        width: 85%;
    }

    #about-page h2 {
        margin-bottom: 0.625em;
    }

    #about-page .profile-photo img {
        width: 55%;
    }

    #overlayContent img {
        width: 25em;
    }

    #contact-page .intro {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .carousel-caption {
        top: 45%;
    }

    #senior-couple .carousel-caption h2 {
        font-size: 1.875em;
    }

    #senior-couple .carousel-caption p {
        font-size: 1em;
    }

    #senior-couple .carousel-caption h3 {
        font-size: 1.5625em;
    }

    main.main-page section:first-of-type,
    main.main-page section.doctor-intro {
        background-image: none;
    }

    main.main-page section:first-of-type .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    main.main-page section.doctor-intro .container {
        padding-left: 8%;
    }

    main.main-page section.doctor-intro p {
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    #senior-couple .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h2 {
        font-size: 1.875em;
    }
    .carousel-caption p {
        font-size: 1em;
    }
    .carousel-caption h3 {
        font-size: 1.5625em;
    }
}

@media screen and (max-width: 500px) {
    main.main-page section.doctor-intro .container {
        padding-left: 10%;
    }

    #about-page .profile-photo img {
        width: 70%;
    }

    #procedure-page h3,
    #procedure-page h3.accordion {
        font-size: 1.25em;
        margin-right:0.625em;
    }

    #procedure-page .well p {
        font-size: 1.125em;
    }

    #gallery-page section img {
        pointer-events: none;
    }

    #contact-page section:first-of-type {
        margin-top: 6.25em;
    }
}

@media screen and (max-width: 480px) {
    .carousel-caption {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #footer-header img {
        max-width: 12.5em;
    }

    footer .hours label {
        width: 5em;
    }

}
